<div class="expandedform"> 
	<fieldset class="clearfix"> 
		<legend>Cari Kart Ekleme</legend> 
		<div class="row"> 
			<label for="firstname">Cari No</label> 
			<input type="text" name="firstname" id="no" class="text" /> 
		</div> 
		<div class="row"> 
			<label for="lastname">Kart Adı</label> 
			<input type="text" name="lastname" id="name" class="text" /> 
		</div> 
		<div class="row"> 
			<label for="email">Email</label> 
			<input type="text" name="email" id="email" class="text" /> 
		</div> 
		<div class="row"> 
			<label for="city">Şehir</label> 
			<input type="text" name="city" id="city" class="text" /> 
		</div> 
		<div class="row"> 
			<label></label> 
			<button name="usersubmit" id="kaydet" class="button" value="kaydet" >Kaydet</button> 
		</div> 
	</fieldset> 
</div> 
	