<div class="expandedform"> 
	<fieldset class="clearfix"> 
		<legend>Cari Kart Arama</legend> 
		<div class="row"> 
			<label for="firstname">Cari No</label> 
			<input type="text" name="firstname" id="no" class="text" /> 
		</div> 
		<div class="row"> 
			<label></label> 
			<button name="usersubmit" id="kaydet" class="button" value="kaydet" >Ara</button> 
		</div> 
	</fieldset> 
</div> 
	